<!DOCTYPE html>

<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block head %} {% endblock %} 
    <title>{% block title %}Page Title{% endblock %}</title>
</head>

<body>
    
        
<form method="post" action={% url "logOut"  %}>
{% csrf_token %}
{% if errorLog %}{{errorLog}} {%endif%}

<input type="submit"  value="LogOut" />
    
</form>


{%block content%} section {%endblock%}

</body>
</html>

