{% extends "base.html" %}


{% block title %}{{zapis.nazov}} {% endblock %}


{% block content %}

<div class="username">
<h1>{{note.name}}</h1>       {{note.author}}
<p>{{note.date}}</p>
<p>{{note.region}}</p>
<p>{{note.description}}</p>
</div> 
<div class="username">

<h2>Galéria</h2>

{% for pic in gallery %}
<div class="img">
  <a target="_blank" href=../../{{pic.img.url}}>
    <img src={{pic.img.url}} alt={{pic.name}} width="300" height="200">
  </a>
  <div class="desc"> {{pic.description}}</div>
</div>
{% endfor %}
</div>
<div class="username">
<h2>Diskusia</h2>
{% for d in discussion %}

<div class="userpost">
    <p>{{d.author}}     {{d.date}}</p>
    <p> {{d.text}}</p>
</div>
{% endfor %}

<form  method="post" action={% url "noteDetail" note.id %}>
{% csrf_token %}

<textarea rows="4" cols="50" name="text">
    
</textarea>

<input type="submit" name="discussion" value="pridaj príspevok">    
</form>
 </div>
<div class="username">
<h3>Napad</h3>
<form  method="post" action={% url "noteDetail" note.id %}>
{% csrf_token %}
{{idea.as_p}}
<input type="submit" name="idea" value="pridaj napad">    
</form>
</div>
<div class="username">
<h2>Nápady</h2>
<ul>
{% for idea in ideas %}
<li>{{idea}}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
