{% extends "base.html" %}


{% block title %}Profil {% endblock %}


{% block content %}


<form  method="post" action={% url "profil"  %}>
{% csrf_token %}
{{form1.as_p}}
<input type="submit" name="nameEmail"  value="update">    
</form>


<form method="post" action={% url "profil"  %}>
{% csrf_token %}
{{form2.as_p}}
<input type="submit" name="password" value="update">    
</form>

<form method="post" action={% url "profil"  %}>
{% csrf_token %}
{{teamForm.as_p}}
<input type="submit" name="teamAdd" value="update">    
</form>


<ul>
{% for team in teams %}

<li><a href={% url 'teamChange' team.id %}>{{team.name}}</a></li>

{%endfor%}
</ul>






{% endblock %}