{% extends "base.html" %}


{% block title %}{{zapis.nazov}} {% endblock %}


{% block content %}
<h1>{{zapis.nazov}}</h1>       {{zapis.autor}}
<p>{{zapis.datum}}</p>
<p>{{zapis.kraj}}</p>
<p>{{zapis.textovy_popis}}</p>
<h2>Diskusia</h2>
{% for d in diskusia %}

<p>{{d.autor}}     {{d.datum}}</p>
<p> {{d.text}}</p>

{% endfor %}

<form  method="post" action={% url "zapisDetail" zapis.id %}>
{% csrf_token %}

<textarea rows="4" cols="50" name="text">
    
</textarea>

<input type="submit" name="diskusia" value="pridaj príspevok">    
</form>

<h3>Napad</h3>
<form  method="post" action={% url "zapisDetail" zapis.id %}>
{% csrf_token %}
{{napad.as_p}}
<input type="submit" name="napad" value="pridaj napad">    
</form>

{% endblock %}
